.radio-item {
  height: 15%;
  width: 100%;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  font-size: larger;
  cursor: pointer;
  border-bottom: var(--thin-border);
  user-select: none;

  div:last-child {
    margin-left: auto;
  }

  .radio-name {
    justify-self: flex-start;
  }

  .radio-frequency {
    justify-self: flex-end;
    font-weight: bold;
  }
}

.radio-item-inactive {
  display: none;
}

.radio-item-active {
  display: initial;
  justify-content: space-between;
  margin-top: 0.5rem;

  animation: fadeIn var(--fade-in-duration);
  -webkit-animation: fadeIn var(--fade-in-duration);
  -moz-animation: fadeIn var(--fade-in-duration);
  -o-animation: fadeIn var(--fade-in-duration);

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .radio-item-image img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid var(--font);
  }
}