// GENERAL
:root {
  --primary: rgba(41, 42, 53);
  --secondary: rgba(21, 25, 37);
  --accent: rgba(238, 172, 95);
  --font: rgba(159, 168, 186);
  --basic-white: rgba(255, 255, 255);
  --border-color: rgba(67, 68, 76);
  --border-radius: 25px;

  color: var(--font);
  font-family: Calibri, serif;
}

html, body, #root, .App {
  height: 100%
}

// LAYOUT
.row, .col {
  display: flex;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}